{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-6">
            <h2>Reset Password</h2>
            <hr>
            <form method="POST" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.email.label }}
                    {{ form.email(class_="form-control") }}
                    {% for e in form.email.errors %}
                        <small class="form-text text-danger">{{ e }}</small>
                    {% endfor %}
                </div>
                {{ form.submit(class_="btn btn-primary") }}
            </form>
        </div>
    </div>
{% endblock %}
