{% extends 'base.html' %}

{% block content %}
    <div class="media">

        <img src="{{ user.avatar(128) }}" alt="Profile Image" class="rounded-circle mr-3">
        <div class="media-body">
            <h2 class="mt-0 mr-3 d-inline">{{ user.username }}</h2>
            {% if user == current_user %}
            <a href="{{ url_for('edit_profile') }}"><i
                class="fas fa-user-edit"></i>
            </a>
            {% endif %}
            {% if user.about_me %}
                <p class="mt-2">{{ user.about_me }}</p>
            {% else %}
                <p class="text-muted mt-2">Tell us something about you.</p>
            {% endif %}
            {% if user.last_seen %} <p class="d-inline">Last Visit: </p>
                <p class="text-muted d-inline">{{ user.last_seen }}</p>{% endif %}
        </div>
    </div>
    <hr>
    {% for post in posts %}
        {% include "includes/_post.html" %}
    {% endfor %}
{% endblock %}